[session]
security = "all"

[localePicker]
forceUrl = 0

[Domenichelly\UserExtended\Components\AccountExtend account]
paramCode = "code"
forceSecure = 0
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>October CMS - {{ this.page.title }}</title>
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="title" content="{{ this.page.meta_title }}">

    <link href="{{ [
      'assets/vendor/bootstrap/dist/css/bootstrap.min.css',
      'assets/vendor/font-awesome/css/font-awesome.min.css',
      'assets/vendor/animate.css/animate.min.css',
      'assets/vendor/plyr/dist/plyr.css'
    ]|theme }}" rel="stylesheet">
    {% styles %}

  </head>
  <body>

	{% partial 'navbar' %}

  <section id="page" class="container m-b-3">
    {% page %}
  </section>

    <script src="{{ [
      'assets/vendor/jquery/dist/jquery.min.js',
      'assets/vendor/tether/dist/js/tether.min.js',
      'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
      'assets/vendor/wow/dist/wow.min.js',
      'assets/vendor/holderjs/holder.min.js',
      'assets/vendor/plyr/dist/plyr.js',
      'assets/js/scripts.js'
    ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}
  </body>
</html>