{% set post = __SELF__.post %}

<div class="portfolio-info">
	<h1>{{ post.title }}</h1>
    {% if post.client %}<span class="portfolio-client">{{ post.client }}</span>{% endif %}
    {% if post.webpage %}<span class="portfolio-webpage"><a href="{{ post.webpage }}" target="_blank">{{ post.webpage }}</a></span>{% endif %}
</div>

<div class="portfolio-image">
{% if post.image %}
    <div class="big-image">
        <img src="{{ post.image|media }}" alt="{{ post.title }}">
    </div>
{% endif %}
{% if post.images %}
    <div class="small-images">
    {% for item in post.images %}
        <span class="image"><a href="{{ item.img_path|media }}"><img src="{{ item.img_path|media }}" alt="{{ item.img_name }}"></a></span>
    {% endfor %}
    </div>
{% endif %}
</div>

<div class="portfolio-files">
    {% for item in post.files %}
        <span class="file"><a href="{{ item.file_path|media }}">{{ item.file_name }}</a></span>{% if not loop.last %} | {% endif %}
    {% endfor %}
</div>

<div class="portfolio-content">
    {{ post.content|raw }}
</div>

<div class="portfolio-categories">
    {% for category in post.categories %}
        <span class="category"><a href="/portfolio/category/{{ category.slug }}">{{ category.name }}</a></span>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>

<div class="portfolio-tags">
    {% for tag in post.tags %}
        <span class="tag"><a href="/tag/{{ tag.slug }}">{{ tag.name }}</a></span>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
