{% set post = __SELF__.post %}

<div class="post-image">
{% if post.image %}
    <div class="big-image">
        <img src="{{ post.image|media }}" alt="{{ post.title }}">
    </div>
{% endif %}
{% if post.images %}
    <div class="small-images">
    {% for item in post.images %}
        <span class="image"><a href="{{ item.img_path|media }}"><img src="{{ item.img_path|media }}" alt="{{ item.img_name }}"></a></span>
    {% endfor %}
    </div>
{% endif %}
</div>

<div class="post-title">
    <h1>{{ post.title }}</h1>
</div>

<div class="post-info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('Y-M-d H:i') }}
</div>

<div class="post-files">
    {% for item in post.files %}
        <span class="file"><a href="{{ item.file_path|media }}">{{ item.file_name }}</a></span>{% if not loop.last %} | {% endif %}
    {% endfor %}
</div>

<div class="post-content">
    {{ post.content|raw }}
</div>
