{% set posts = __SELF__.posts %}

<div class="post-list">
    {% for post in posts %}
    <div class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

        <div class="post-info">
            Posted
            {% if post.categories.count %} in {% endif %}
            {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            on {{ post.published_at|date('Y-M-d H:i') }}
        </div>

        {% if post.image %}
        <div class="post-image">
            <a href="{{ post.url }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a>
        </div>
        {% endif %}

        <div class="post-summary">
            {{ post.summary|raw }}
        </div>
    </div>
    {% else %}
    <div class="no-post">
        {{ noPostsMessage }}
    </div>
    {% endfor %}
</div>

{{ posts.render|raw }}
