title = "User profile"
url = "/user"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[ru] = "/user"

[localePicker]
forceUrl = 0
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>{{ 'Sign in'|_ }}</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            <h3>{{ 'Register'|_ }}</h3>
            {% partial account ~ '::register' %}
        </div>

    </div>

{% else %}

   {# {% partial account ~ '::activation_check' %}#}

    {% partial account ~ '::update' %}

    {#{% partial account ~ '::deactivate_link' %}#}

{% endif %}