description = "Navigation bar"

[viewBag]

[localePicker]
forceUrl = 0

[staticMenu]
code = "main_menu"
==
<section id="navbar" class="m-b-3">
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Bootstrap 4</a>

            {% if staticMenu.menuItems %}
                <ul class="nav navbar-nav">
                    {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
                </ul>
            {% endif %}

			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item">
					{% if user %}
						<a class="nav-link{{ this.page.baseFileName == 'profile' ? ' active' }}" href="{{ 'profile'|page }}">{{ 'Edit profile'|_ }}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if not user %}
					    <a class="nav-link" href="{{ 'profile'|page }}">{{ 'Login / Register'|_ }}</a>
					{% else %}
					    <a class="nav-link" data-request="onLogout" data-request-data="redirect: '/'">{{ 'Sign out'|_ }}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% component 'localePicker' %}
				</li>
			</ul>

			


		</div>
	</nav>
</section>