<form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">{{ 'Name'|_ }}</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="{{ 'Enter your full'|_ }}" />
    </div>

    <div class="form-group">
        <label for="registerEmail">{{ 'E-mail'|_ }}</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="{{ 'Enter your e-mail'|_ }}" />
    </div>

    <div class="form-group">
        <label for="registerPassword">{{ 'Password'|_ }}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="{{ 'Choose a password'|_ }}" />
    </div>

    <button type="submit" class="btn btn-default">{{ 'Register'|_ }}</button>
</form>
