<form
    data-request="onSignin">
    <div class="form-group">
        <label for="userSigninLogin">{{ 'E-mail'|_ }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="{{ 'Enter your e-mail'|_ }}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">{{ 'Password'|_}}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="{{ 'Enter your password'|_ }}" />
    </div>

    <button type="submit" class="btn btn-default">{{ 'Sign in'|_}}</button>
</form>