==
{# {{ form_ajax('onUpdate', { model: user }) }} #}

{{ form_open({ model: user, request: 'onUpdate', files : true }) }}
    <div class="form-group">
        <label for="accountName">{{ 'Name'|_ }}</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ form_value('name') }}">
    </div>

    <div class="form-group">
        <label for="accountName">{{ 'Surname'|_ }}</label>
        <input name="surname" type="text" class="form-control" id="accountSurname" value="{{ form_value('surname') }}">
    </div>

	{% set gender = form_value('gender')|default(1) %}
	<div class="form-group">
		<label>{{ 'Gender'|_ }}</label>
		<div class="form-group-radio">
			<div class="form-check-inline">
				<label for="accountGenderM" class="form-check-label">
					<input class="form-check-input" name="gender" type="radio" id="accountGenderM" value="1" {% if gender == 1%}checked{% endif %}> {{ 'Male'|_ }}
				</label>
			</div>
			<div class="form-check-inline">
				<label for="accountGenderF" class="form-check-label">
					<input class="form-check-input" name="gender" type="radio" id="accountGenderF" value="2" {% if gender == 2%}checked{% endif %}> {{ 'Female'|_ }}
				</label>
			</div>
		</div>
    </div>

    <div class="form-group">
        <label for="accountEmail">{{ 'E-mail'|_ }}</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ form_value('email') }}">
    </div>


	<div class="form-group">
        <label for="accountAvatar">{{ 'Avatar'|_ }}</label>
		{% if user.avatar %}
			<img src="{{ user.avatar.thumb(200,200,'crop') }}">
		{% endif %}
        <input name="avatar" type="file" class="form-control" id="accountAvatar" value="{{ form_value('avatar') }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">{{ 'New Password'|_ }}</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">{{ 'Confirm New Password'|_ }}</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <button type="submit" class="btn btn-default">{{ 'Save'|_ }}</button>

{{ form_close() }}